<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.developpement.ogawi.keeptherythm">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.VIBRATE" />


    <application
        tools:replace="android:allowBackup"
        android:allowBackup="false"
        android:icon="@drawable/logo4"
        android:label="@string/app_name"
        android:fullBackupContent="false"
        android:roundIcon="@drawable/logo4"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <service android:name="com.paypal.android.sdk.payments.PayPalService"
            android:exported="false"/>

        <activity android:name="com.paypal.android.sdk.payments.PaymentActivity"/>
        <activity android:name="com.paypal.android.sdk.payments.LoginActivity"/>
        <activity android:name="com.paypal.android.sdk.payments.PaymentMethodActivity"/>
        <activity android:name="com.paypal.android.sdk.payments.PaymentConfirmActivity"/>
        <activity android:name="com.paypal.android.sdk.payments.PayPalFuturePaymentActivity"/>
        <activity android:name="com.paypal.android.sdk.payments.FuturePaymentConsentActivity"/>
        <activity android:name="com.paypal.android.sdk.payments.FuturePaymentInfoActivity"/>

        <activity android:name="io.card.payment.DataEntryActivity"/>
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/ad_id_interstitial"/>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data android:name="com.google.android.gms.games.APP_ID"
            android:value="@string/app_id" />
        <meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>
        <activity android:name=".EcranAccueil"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".InGame"
            android:screenOrientation="portrait"

            >


        </activity>
        <activity android:name=".InGameRec"
            android:screenOrientation="portrait"

            >


        </activity>
        <activity android:name=".ResultatsPartie"
            android:screenOrientation="portrait"
            >


        </activity>
        <activity android:name=".ReglesJeu"

            />
        <activity android:name=".APropos"

            >

        </activity>

        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@android:style/Theme.Translucent" />


        <activity android:name=".payment.MainActivityPayment"
            android:allowBackup="true"
            android:label="@string/mainactivitypaymentTitre"

            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"

            />
        <activity android:name=".payment.ViewCart"
            android:allowBackup="true"
            android:label="@string/mainactivitypaymentTitre"

            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"

            />
    </application>
</manifest>
